.hero-section {
    background-color: #5662F9;
    background-image: url(/hero-background.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    min-height: 100vh;
    position: relative; /* Ensure the position context for absolute children */
    overflow: hidden;   /* Prevent overflow from pseudo-elements */
    display: flex;
    flex-direction: column;
  }
  
  .hero-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 321px;
    height: 30px;
    transform: skew(45deg) translateX(-15px);
    background-color: white;
  }
  
  .hero-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 321px;
    height: 30px;
    transform: skew(-45deg) translateX(15px);
    background-color: white;
  }
  
  .hero__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }