.hero-section {
    background-color: #5662F9;
    background-image: url(/hero-background.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    min-height: 100vh;
    position: relative; /* Ensure the position context for absolute children */
    overflow: hidden;   /* Prevent overflow from pseudo-elements */
    display: flex;
    flex-direction: column;
  }
  
  .hero-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 321px;
    height: 30px;
    transform: skew(45deg) translateX(-15px);
    background-color: white;
  }
  
  .hero-section::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 321px;
    height: 30px;
    transform: skew(-45deg) translateX(15px);
    background-color: white;
  }
  
  .hero__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }

  .hero__footer-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 4rem;
    height: 8rem;
  }
  
  .hero__footer-section__call-now {
    width: 156px;
    height: 43px;
    border-radius: 43px;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
  }
  
  .hero__footer-section__call-now span {
    margin-left: 0.5rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #377DFF;
    font-weight: 700;
    font-size: 1rem;
    text-wrap: nowrap;
  }
  
  .hero__footer-section__call-icon {
    background: #377DFF;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-left: 0.5rem;
  }
  
  .hero__footer-section__benefits {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-inline: 5rem;
    transform: translateY(20px);
    flex: 1;
  }

  .hero__footer-section__social-media {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
.hero__phone{
  padding-inline: 0rem;
}