.ready{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  
  .ready-panel{
    height: 279px;
    width: 849.78px;
    background-color: #2F80ED;
    border-radius: 50px;
    position: relative;
    padding: 2rem;
    display: flex;
    align-items: center;
  }

  .ready__panel__description-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 1rem;
  }
  
  .ready-title{
    font-size: 40px;
    font-weight: 400;
    font-family: Anta;
    color: #2F80ED;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  
  .ready-title::before{
    content: '';
    position: absolute;
    top: -100px;
    left: -250px;
    width: 174px;
    height: 174px;
    background-image: url('/tri-ready.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .ready-title::after{
    content: '';
    position: absolute;
    top: -100px;
    right: -400px;
    width: 174px;
    height: 174px;
    background-image: url('/tri-ready.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(45deg);
  }
  
  .ready-container{
    width: 849.78px;
    display: flex;
    margin-left: 100px;
    padding-block: 25px;
  }
  
  .ready__panel-background{
    position: absolute;
    right:0;
    bottom: 0;
    width: 446px;
    height: 490px;
    border-radius: 50px;
  }
  
  .ready__panel-background img{
    width: 100%;
    transform: translateX(170px) translateY(65px);
  }
  
  .ready__panel-description{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: white;
  }
  
  .ready__panel__description-main h1{
    font-size: 35px;
    font-weight: 400;
    font-family: Anta;
  }
  
  .ready__panel__description-main p{
    width: 332px;
    font-family: Inter;
    font-size: 16px;
    line-height: 23px;
    font-weight: 300;
  }
  
  .back__cta{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 3rem;
    width: 82px;
    height: 82px;
    background: #FFA800;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .book__us-now{
    width: 170px;
    height: 43px;
    background-color: white;
    border: none;
    color:#FEAC00;
    border-radius: 43px;
    margin-block: 1rem;
  }
  