.apropos__phone .navbar__menu-item__phone{
    color: black;
}

.apropos__phone{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.grid__item-image{
    width: 100%;
    height: 100%;
  }
  
  .grid-item:last-child{
    text-align: left;
  }
  
  .grid__item-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .grid-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .header{
    font-family: Anta;
    font-size: 39.29px;
    font-weight: 400;
    color: #2F80ED;
    flex: 1;
    position: relative;
  }
  
  .header::after{
    content: '';
    position: absolute;
    top: -10px;
    right: -25px;
    background-image: url('/spark.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 31px;
    height: 31px;
  }

  img{
    width: 90%;
    margin: auto;
  }
  
  .sub-header{
    font-family: Anta;
    font-size: 39.29px;
    line-height: 2rem;
    font-weight: 400;
    text-align: left;
    color: #444444;
    flex: 1;
  }
  
  .description{
    padding-block: 1rem;
    font-family: Inter;
    font-size: 17.68px;
    font-weight: 400;
    text-align: left;
    color: #737373;
    flex: 1;
  }
  
  .grid__item-card{
    height: 91px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 2;
  }
  
  .grid__item-card .card-id{
    width: 100px;
    height: 100px;
    background-image: url('/25d0f12569fe08c32b0f47668d1b2df7_10.webp');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  
  .grid__item-card{
    color:#2F80ED;
    font-family: Anta;
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
  }
  
  .grid__item-card span{
    color:#FEAC00;
  }

  .apropos__phone .features-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-block: 2rem;
  }

  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0 auto 20px auto;
    position: relative;
  }
  
  .circle.orange {
    background-color: #FEAC00; /* orange */
  }
  
  .circle.blue {
    background-color: #2F80ED; /* blue */
  }
  
  .circle span{
    font-family: Anta;
    font-size: 43.12px;
    font-weight: 400;
    line-height: 53.65px;
    text-align: left;
  }
  
  .circle::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 4px solid #2F80ED;
    border-bottom: 4px solid transparent;
    border-radius: 50%;
  }
  
  .feature:nth-child(odd) > .circle::before {
    border: 4px solid #2F80ED;
    border-bottom: 4px solid transparent;
  }
  .feature:nth-child(even) > .circle::before {
    border: 4px solid #FEAC00;
    border-bottom: 4px solid transparent;
  }
  
  .feature h3 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 49.77px;
    text-align: center;
    color: #444444;
  }
  
  .feature p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color:#737373;
  }

  .why__us-menu__phone{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .why__us-menu__phone img{
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
  }
  
  .why__us-menu__phone > div{
    flex: 1;
  }
  
  .why__us__section__phone{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .why__us__section__title__phone{
    font-family: Inter;
    font-size: 39.29px;
    font-weight: 600;
    color: #2F80ED;
    width: 350px;
    margin-block: 2rem;
    position: relative;
  }
  
  .why__us__section__title__phone::after{
    content: '';
    position: absolute;
    top: -10px;
    right: 0px;
    background-image: url('/spark.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 31px;
    height: 31px;
  }
  
  .why__us__section__text__phone{
    font-family: Inter;
    font-size: 17.78px;
    font-weight: 400;
    color: #737373;
  }
  
  .why__us__section__bullets__phone{
    list-style: none;
    margin-block: 2rem;
  }
  
  .why__us__section__item__phone{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 49.77px;
    color: #444444;
    position: relative;
  }
  
  .why__us__section__item__phone span{
    display: inline-block;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.78px;
    color: #737373;
    width: 350px;
  }

  .navbar-menu__phone{
    background: white;
  }
  
  .grid-item{
    padding: 20px;
  }