.navbar-menu__phone{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .navbar__menu-item__phone{
    font-family: Anta;
    font-size: 37.62px;
    font-weight: 400;
    line-height: 66.59px;
    opacity: 0.5;
    color: white;
  }
  
  .navbar__menu-item__phone.active{
    opacity: 1;
  }

  .navbar__menu-item__phone.active{
    opacity: 1;
    color: white;
  }

  .footer-section__phone .navbar-menu__phone{
    background: rgba(0,0,0,0.5);
  }