.apropos__phone .navbar__menu-item__phone{
    color: black;
}

.apropos__phone{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.video-item__phone {
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.galerie__grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(4, 1fr); /* Auto height for rows */
    grid-template-areas: 
      "item1 item1 item2 item2"
      "item1 item1 item2 item2"
      "item1 item1 item3 item4"
      "item5 item6 item3 item4";
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: 0 auto; /* Center the grid container */
    margin-block: 4rem;
  }
  
  .galerie__grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .galerie__grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  /* Define the grid areas */
  .item1 {
    grid-area: item1;
  }
  
  .item2 {
    grid-area: item2;
  }
  
  .item3 {
    grid-area: item3;
  }
  
  .item4 {
    grid-area: item4;
  }
  
  .item5 {
    grid-area: item5;
  }
  
  .item6 {
    grid-area: item6;
  }

  .navbar-menu__phone{
    background: white;
  }

  .swipe-phone {
    margin-block: 2rem;
}