.welcome__section{
    min-height: 100vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    gap: 4rem;
  }
  
  .welcome__details{
    font-size: 22px;
    font-family: Space Grotesk;
  }
  
  .welcome-main__section{
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .welcome-cta__background{
    position: relative;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }