.contact-form{
    position: absolute;
    top:20%;
    left: 50%;
    background-color: white;
    width: 449.56px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
  
form{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
form div{
    width: 100%;
}
  
.contact-input{
    all: unset;
    width: 100%;
    height: 47.83px;
    border-radius: 3.99px;
    border: 0.8px solid rgba(10, 20, 47,0.3);
    margin-block: 10px;
    padding-inline: 1rem;
    font-family: Inter;
    font-size: 11.96px;
    font-weight: 500;
    line-height: 14.47px;
    text-align: left;
}
  
.contact-input:first-child{
    border: 1.2px solid rgba(10, 20, 47,0.4);
}
  
.contact__input-multiline{
    all: unset;
    width:100%;
    height: 131.52px;
    border-radius: 3.99px;
    border: 0.8px solid rgba(10, 20, 47,0.3);
    margin-block: 10px;
    padding: 1rem;
    font-family: Inter;
    font-size: 11.96px;
    font-weight: 500;
    line-height: 14.47px;
    text-align: left;
}
  
.send-button{
    all: unset;
    width: 124.21px;
    height: 39.85px;
    border-radius: 7.97px;
    background-color: #0081FE;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Space Grotesk;
    font-size: 14.35px;
    font-weight: 400;
    line-height: 18.31px;
    text-align: center;
    align-self: flex-start;
    transform: translateX(-20px);
}

.contact__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }
  
  .contact__modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: min(90%,500px);
    aspect-ratio: 16 / 9;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    animation: fadeIn 0.5s;
    display: flex;
    flex-direction: column;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-50%, -60%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
  
  .modal__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    gap: 2rem;
  }
  
  .modal__icon {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .success {
    color: green;
  }
  
  .error {
    color: red;
  }
  
  .modal__close-button {
    justify-self: flex-end;
    align-self: flex-end;
    background: none;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  