.footer-section {
    background-color: #2F80ED;
    width: 100%;
    min-height: 100vh;
    position: relative; /* Ensure the position context for absolute children */
    overflow: hidden;   /* Prevent overflow from pseudo-elements */
    display: flex;
    flex-direction: column;
    padding: 4rem;
    justify-content: center;
    align-items: center;
  }
  
  .footer-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 321px;
    height: 30px;
    transform: skew(-45deg) translateX(-15px);
    background-color: white;
  }
  
  .footer-section::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 321px;
    height: 30px;
    transform: skew(45deg) translateX(15px);
    background-color: white;
  }
  
  .footer__section-title{
    text-align: center;
    color: #FFFFFF;
    font-family: Space Grotesk;
    font-size: 40px;
    line-height: 34.28px;
    text-transform: uppercase;
    margin-bottom: 4rem;
  }
  
  .copyright{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: Space Grotesk;
    font-size: 19.56px;
    font-weight: 400;
    line-height: 24.95px;
    text-align: center;
    color: white;
  }
  
  .join-us{
    width: 80%;
    aspect-ratio: 2 / 1;
    background-image: url('/footer.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 4rem;
    flex-direction: column;
  }
  
  .join__us-title{
    font-family: Plus Jakarta Sans;
    font-size: 31.88px;
    font-weight: 600;
    line-height: 47.83px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #2F80ED;
  }
  
  .footer-socials{
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  
  .footer__media-item{
    width: 50px;
    height: 50px;
    border: 1px solid white;
  }