/* @import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* THIS FILE IS FOR SHARED STYLE BETWEEN PAGES */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anta', sans-serif;
}

.grid-container{
  margin-block: 4rem;
}

.apropos-play__button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 44.7px;
  height: 44.7px;
  background: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apropos-play__button::before{
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: white;
  opacity: 0.4;
  border-radius: 100%;
}

.apropos-play__button-icon{
  color: #FEAC00;
  font-size: 1.5rem;
}

.welcome-cta__phone{
  position: relative;
}

.welcome-cta__phone::before{
  content: '';
  position: absolute;
  top: -10px;
  left: -20px;
  width: 22px;
  height: 22px;
  background-image: url('/spark.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1);
}

.welcome-cta__section__title{
  font-family: Space Grotesk;
  font-size: 35.56px;
  font-weight: 500;
  color : #404040;
}

.welcome-cta__section__text{
  color: #737373;
  font-size: 17.78px;
  font-family: Inter;
  text-transform: capitalize;
}

.welcome-cta__section__details{
  flex: 1;
}

.title__container{
  width: 100%;
  margin-inline: 2rem;
  background: url(/title-background.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  overflow: visible;
}

.welcome__title{
  font-family: Anta;
  font-size: 3rem;
  color: #2F80ED;
  position: relative;
}

.welcome__title::before,
.welcome__title::after{
  content: '';
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: #FFA800;
  top: 50%;
}

.welcome__title::before{
  left: -45px;
}

.welcome__title::after{
  right: -45px;
}

.welcome__header,.welcome__footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 685px;
  text-align: center;
}

.social-media__item {
  height: 40px;
  width: 40px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.video-item{
  width: 253.55px;
  height: 367.49px;
  border-radius: 1rem;
  background: var(--i);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.video__player-grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.video__player-grid-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10.35px;
  background-color: #0251BB;
  opacity: 0.6;
}

.video__item-details{
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top,black 0%,transparent 100%);
  width: 100%;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.video__item-title{
  font-family: Poppins;
  font-weight: 700;
}

.video__item-description{
  font-family: Poppins;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.play-button{
  width: 56px;
  height: 56px;
  background-color: rgba(255, 255, 255,0.09);
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__footer-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline: 4rem;
  height: 8rem;
}

.hero__footer-section__call-now {
  width: 156px;
  height: 43px;
  border-radius: 43px;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
}

.hero__footer-section__call-now span {
  margin-left: 0.5rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #377DFF;
  font-weight: 700;
  font-size: 1rem;
  text-wrap: nowrap;
}

.hero__footer-section__call-icon {
  background: #377DFF;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-left: 0.5rem;
}

.hero__footer-section__benefits {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-inline: 5rem;
  transform: translateY(20px);
  flex: 1;
}

.hero__footer-section__social-media {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.hero__phone{
padding-inline: 0rem;
}

.welcome-cta__section,.welcome-cta__section__details{
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.welcome-cta__section{
  flex: 2;
}

.welcome-cta__section__bullets{
  list-style: none; /* Remove default list style */
  padding-left: 0;  
}

.welcome-cta__section__item{
  font-family: Inter;
  font-size: 20px;
  color : #444444;
  position: relative;
  padding-left: 20px;
  margin-block: 1rem;
}

.welcome-cta__section__item::before{
  content: '►';
  position: absolute;
  left: 0;
  color: #FFA800;
  font-size: 18px;
}

.welcome-cta__section__call__now{
  border: none;
  background: #FFA800;
  width: 176px;
  height: 61px;
  text-transform: uppercase;
  color: white;
  font-family: Space Grotesk;
  border-radius: 7px;
  font-weight: 600;
}

.welcome__title__phone{
  font-family: Anta;
  font-size: 21.76px;
  font-weight: 400;
  line-height: 26.57px;
  text-align: center;
  color: #2F80ED;
  position: relative;
}

.welcome__title__phone::before,
.welcome__title__phone::after{
  content: '';
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: #FFA800;
  top: 50%;
}

.welcome__title__phone::before{
  left: -45px;
}

.welcome__title__phone::after{
  right: -45px;
}

.welcome__header__phone,.welcome__footer__phone{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 685px;
  text-align: center;
}

.welcome__details__phone{
  font-family: Space Grotesk;
  font-size: 14.77px;
  font-weight: 400;
  line-height: 18.84px;
  text-align: center;
  width: 323px;
}

.title__container__phone{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}