/* @import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* THIS FILE IS FOR SHARED STYLE BETWEEN PAGES */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anta', sans-serif;
}

.grid-container{
  margin-block: 4rem;
}

.apropos-play__button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 44.7px;
  height: 44.7px;
  background: white;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apropos-play__button::before{
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background-color: white;
  opacity: 0.4;
  border-radius: 100%;
}

.apropos-play__button-icon{
  color: #FEAC00;
  font-size: 1.5rem;
}

.welcome-cta__phone{
  position: relative;
}

.welcome-cta__phone::before{
  content: '';
  position: absolute;
  top: -10px;
  left: -20px;
  width: 22px;
  height: 22px;
  background-image: url('/spark.svg');
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1);
}

.welcome-cta__section__title{
  font-family: Space Grotesk;
  font-size: 35.56px;
  font-weight: 500;
  color : #404040;
}

.welcome-cta__section__text{
  color: #737373;
  font-size: 17.78px;
  font-family: Inter;
  text-transform: capitalize;
}

.welcome-cta__section__details{
  flex: 1;
}

.title__container{
  width: 100%;
  margin-inline: 2rem;
  background: url(/title-background.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  overflow: visible;
}

.welcome__title{
  font-family: Anta;
  font-size: 3rem;
  color: #2F80ED;
  position: relative;
}

.welcome__title::before,
.welcome__title::after{
  content: '';
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: #FFA800;
  top: 50%;
}

.welcome__title::before{
  left: -45px;
}

.welcome__title::after{
  right: -45px;
}

.welcome__header,.welcome__footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 685px;
  text-align: center;
}

.social-media__item {
  height: 40px;
  width: 40px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.video-item{
  width: 253.55px;
  height: 367.49px;
  border-radius: 1rem;
  background: var(--i);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.video__player-grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.video__player-grid-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10.35px;
  background-color: #0251BB;
  opacity: 0.6;
}

.video__item-details{
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top,black 0%,transparent 100%);
  width: 100%;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.video__item-title{
  font-family: Poppins;
  font-weight: 700;
}

.video__item-description{
  font-family: Poppins;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.play-button{
  width: 56px;
  height: 56px;
  background-color: rgba(255, 255, 255,0.09);
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}